/* Déclaration des variables */
:root {
    --principal: #d8d0c7;
    --secondaire: #f5f3f1;
    --btp: #2464AF70;
    --env: #078C0365;
    --data: #ffa23890;
    --dev: #D9675F85;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--principal);
    color: #fff;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0; /* Réduit la marge en bas du titre */
}

.sous_titre {
    font: italic;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0; /* Réduit la marge en bas du titre */
}

nav {
    background-color: var(--secondaire);
    display: flex;
    flex-wrap: wrap;
    border-block-end: 0px solid gray; /* Ajoute une bordure */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0 0 0 rgba(0, 0, 0, 0.05); /* Ajoute deux ombres */
}
nav a {
    color: black;
    font-variant: all-small-caps; /* Convertit le texte en petites capitales */
    text-decoration: none;
}
nav img {
    height: 1.3rem;
}
.left_items {
    font-size: 1.15rem;
    display: flex;
    flex-wrap: wrap; /* Permet aux liens de passer à la ligne si nécessaire */
    align-items: center; /* Centrer les éléments verticalement */
    justify-content: center; /* Centrer les éléments horizontalement */
    margin-right: auto;
}
.social_links {
    display: flex;
    flex-wrap: wrap; /* Permet aux liens de passer à la ligne si nécessaire */
    align-items: center; /* Centrer les éléments verticalement */
    justify-content: center; /* Centrer les éléments horizontalement */
    margin-left: auto;
}
.social_links a {
    margin: 0.4em 1em; /* top | right | bottom | left */
}
.left_items a {
    font-weight: bold; /* Met le lien en gras */
    padding: 0.5em 1em; /* top | right | bottom | left */
}
.left_items a:hover {
    background-color: var(--principal); /* Couleur de fond du menu déroulant */
}
.dropdown {
    position: relative; /* Positionnement relatif pour positionner le menu déroulant */
    display: inline-block; /* Affiche le menu déroulant comme un élément en ligne */
}
.dropdown_content {
    display: none; /* Masque initialement le contenu du menu déroulant */
    position: absolute; /* Positionnement absolu par rapport à son parent positionné */
    background-color: var(--secondaire); /* Couleur de fond du menu déroulant */
    min-width: 160px; /* Largeur minimale du menu déroulant */
    z-index: 1; /* Empilement sur la couche supérieure */
    white-space: nowrap; /* Empêche le texte de revenir à la ligne */
    overflow: hidden; /* Masque tout texte dépassant de la zone */
    left: 0; /* Aligne la liste déroulante à gauche de son conteneur parent */
    top: 1.7em; /* Place la liste déroulante sous son parent */
    box-shadow: 0 5px 12px 2px rgba(0,0,0,0.1),
                2px 5px 12px 2px rgba(0,0,0,0.1),
                -2px 5px 12px 2px rgba(0,0,0,0.1);
}
.dropdown_content a {
    color: black; /* Couleur du texte des liens du menu déroulant */
    padding: 0.5em 1em; /* Espacement intérieur des liens */
    text-decoration: none; /* Supprime le soulignement des liens */
    display: block; /* Affiche les liens comme des éléments de bloc */
    background-color: var(--secondaire); /* Couleur de fond du menu déroulant */
}
.dropdown_content a:hover {
    background-color: var(--principal); /* Couleur de fond du menu déroulant */
}
.dropdown:hover .dropdown_content {
    display: block; /* Affiche le contenu du menu déroulant lorsqu'on survole la zone du menu */
    background-color: var(--secondaire); /* Couleur de fond du menu déroulant */
}
.dropbtn:hover {
    background-color: var(--principal); /* Couleur de fond du menu déroulant */
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}
main {
    margin: auto;
    padding-bottom: 150px;
    width: 100vw; /* Ajuster la largeur de main à la largeur de la fenêtre */
    max-width: 90%;
}
footer {
    background-color: var(--secondaire);
    color: black;
    font-size: 0.85rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5em;
}
h2 {
    color: black;
    margin: 0;
}
h3 {
    font-size: 1.1rem;
    color: black;
    margin: 0;
}
img {
}
p {
    line-height: 1.5em;
}

.introduction {
    display: flex;
    align-items: center; /* Alignement vertical au centre */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: flex-start; /* Alignement vertical au début */
    margin: auto;
    padding: 2.5em 0 2em;
    gap : 1.5em;
}
.pp {
    width: 250px; /* Largeur fixe de l'image */
    height: auto; /* Hauteur auto pour conserver les proportions de l'image */
    flex-shrink: 0; /* Empêche la réduction de la photo */
}
.propos {
    color: black;
    font-size: 1rem;
    line-height: 1.5em;
    text-align: justify;
    flex: 1; /* Permet à ce conteneur de prendre toute la place disponible */
    overflow: auto; /* Défilement automatique en cas de dépassement */
}

.projet_section {
    max-width: 1300px;
    background-color: var(--secondaire);
    border-radius: 50px;
    display: flex; /* Utilisation de Flexbox */
    flex-wrap: wrap;
    justify-content: center; /* Centre les éléments horizontalement */
    margin: auto;
    padding: 1.5em;
    gap: 2em;
}
.projet_carte {
    min-width: 100px; /* Largeur minimale du bloc */
    max-width: 400px; /* Largeur maximale du bloc */
    display: flex;
    flex-direction: column; /* Disposition en colonne */
    flex: 1; /* Fait en sorte que chaque petit bloc prenne la même quantité d'espace disponible */
    justify-content: top; /* aligne le contenu horizontalement en haut*/
    gap: 1em;
}
.projet_carte a {
    text-decoration: none;
    color: black;
}
.projet_carte_titre {
    flex-grow: 1; /* Faire en sorte que le titre prenne autant de place que possible */
}
.projet_texte {
    font-size: 0.95em;
    line-height: 1.3em; /* Réglez la hauteur de ligne */
    height: 3.9em; /* Hauteur totale de deux lignes */
    overflow: hidden; /* Masque tout texte dépassant de la zone */
    display: -webkit-box; /* Affiche le contenu comme une boîte flexible */
    -webkit-box-orient: vertical; /* Affiche le contenu dans une colonne */
    -webkit-line-clamp: 3; /* Limite le nombre de lignes affichées */
    text-overflow: ellipsis; /* Affiche "..." pour le texte dépassant */
}
.projet_image {
    height: 100%; /* Le bloc prendra toute la largeur disponible */
    max-height: 200px; /* Largeur maximale du bloc */
    border-radius: 30px;
    overflow: hidden; /* Cache tout contenu dépassant de la zone */
    display: flex; /* Utilisation de Flexbox */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
}
.projet_carte img {
    width: 100%; /* Remplit entièrement la zone conteneur */
    height: 100%; /* Remplit entièrement la zone conteneur */
    object-fit: cover; /* Ajuste l'image pour remplir la zone parente en tronquant */
}

/* ========= PROJETS ========= */

.projet_introduction {
    flex-wrap: wrap;
    align-items: flex-start; /* Alignement vertical au début */
    text-align: justify;
    margin: auto;
    padding: 20px;
}
.projet_titre {
    text-align: left;
    display: flex;
    flex: 1; /* Le reste de l'espace disponible pour le titre */
    gap: 10px;
}
.domaine_list {
    min-width: 8em; /* Largeur minimale pour chaque élément de domaine */
    max-width: 15em; /* Largeur minimale pour chaque élément de domaine */
    color: white;
    font-size: 0.8rem;
    font-weight: bold; /* Met le lien en gras */
    margin: 0;
    line-height: 1em; /* Réglez la hauteur de ligne */
    height: 2em; /* Hauteur totale de deux lignes */
    display: flex; /* Utilisation de flexbox pour aligner horizontalement */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    gap: 10px;
}
.domaine {
    min-width: 2em; /* Largeur minimale pour chaque élément de domaine */
    max-width: 3em; /* Largeur minimale pour chaque élément de domaine */
    padding: 5px; /* Espacement interne des boîtes */
    border-radius: 10px;
}
.competence_list {
    display: flex; /* Afficher les boîtes côte à côte */
    flex-wrap: wrap; /* Permettre le retour à la ligne lorsque la largeur est insuffisante */
    font-size: 0.9rem;
    gap: 10px;
    padding: 10px;
    color: black;
}
.competence {
    text-align: left;
    border-radius: 12px;
    padding: 6px; /* Espacement interne des boîtes */
}
.domaine_btp {
    background-color: var(--btp);
    border: 1px solid var(--btp); /* Bordure des boîtes */
}
.domaine_env {
    background-color: var(--env);
    border: 1px solid var(--env); /* Bordure des boîtes */
}
.domaine_data {
    background-color: var(--data);
    border: 1px solid var(--data); /* Bordure des boîtes */
}
.domaine_dev {
    background-color: var(--dev);
    border: 1px solid var(--dev); /* Bordure des boîtes */
}

.projet_chapitre_section {
    align-items: flex-start; /* Alignement vertical au début */
    margin: auto;
}
.projet_chapitre_section.active .projet_chapitre_contenu {
    display: block;
}
.projet_chapitre_entete {
    background-color: var(--secondaire);
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center; /* Alignement vertical des éléments */
    padding: 10px;
    border-bottom: 1px solid gray;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ajoute une ombre */
}
.projet_chapitre_entete .material-icons {
    vertical-align: middle; /* Alignement vertical de l'icône */
}
.projet_chapitre_icone { /* pas indispensable */
    width: 20px; /* Largeur fixe pour l'icône */
    flex-shrink: 0; /* Empêcher le rétrécissement de la largeur de l'icône */
}
.projet_chapitre_titre {
    flex: 1; /* Le reste de l'espace disponible pour le titre */
}
.projet_chapitre_contenu {
    display: none;
    padding: 20px;
    border: 1px solid var(--secondaire);
}
.projet_chapitre_contenu img {
    height: 100%; /* Le bloc prendra toute la largeur disponible */
    max-height: 200px; /* Largeur maximale du bloc */
    width: auto;
    display: flex; /* Utilisation de Flexbox */
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
}

/* ======== AFFICHAGE ======== */
@media screen and (max-width: 900px) {
    .introduction {
        flex-direction: column; /* Disposition en colonne */
        align-items: flex-start; /* Alignement des éléments au début */
    }
    .pp {
        width: 100%; /* Image prend toute la largeur disponible */
        max-width: 200px;
        margin: auto; /* Réinitialise la marge pour le petit écran */
    }
    .propos {
        width: 100%; /* Image prend toute la largeur disponible */
        font-size: rem;
        text-align: justify;
    }
    .projet_section {
        max-width: 400px; /* Largeur maximale du bloc */
        flex-direction: column; /* Disposition en colonne pour les petits écrans */
    }
}
@media screen and (max-width: 400px) {
    .left_items {
        margin: auto;
    }
    .social_links {
        margin: auto;
    }
    .dropdown_content {
    position: fixed; /* Utilisation de position fixe pour positionner par rapport à la fenêtre du navigateur */
    top: auto;
    left: 50%; /* Centre la liste déroulante par rapport à son conteneur parent */
    transform: translateX(-50%); /* Centre la liste déroulante horizontalement */
    }
}